@media only screen and (min-width: 768px) {
    #myVideo {
        position: fixed;
        left: 0em;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    #ranks {
        font-size: 20px;
        color: white;
        padding-top: 2px;
        padding-left: 11%;
        font-family: spectrum;
        font-weight: bold;
    }

    #teams {
        font-size: 20px;
        color: white;
        padding-top: 2px;
        padding-left: 240px;
        font-family: spectrum;
    }

    #points {
        font-size: 20px;
        color: white;
        padding-top: 2px;
        position: absolute;
        right: 6%;
        font-family: spectrum;
    }

    #headings {
        position: relative;
        background-color: rgba(240, 255, 255, 0);
        ;
        width: 98.3%;
        height: 10%;
        border-radius: 500px;
        border-style: double;
        border-width: 10px;
        border-color: rgba(45, 185, 255, 0.349);
    }

    .prodec-logo {
        width: 7em;
        height: 7em;
        right: 0%;
        position: absolute;
        top: 1%
    }


    .logo-class {
        margin-top: 90px;
        display: block;
        margin-left: 360px;
        margin-right: auto;
        width: 30%;
    }

    @font-face {
        font-family: spectrum;
        src: url(fonts/Spectral_SC/SpectralSC-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: number;
        src: url(fonts/ITC-Avant-Garde-Gothic/ITCAvantGardeStd-BkCn.otf);
        font-weight: bold;

    }

    @font-face {
        font-family: Orbiton;
        src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
    }

    .all-scores {
        height: 390px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
    }

    .bubble {
        position: relative;
        background-color: rgba(4, 165, 93, 0);
        border-style: solid;
        border-color: #ffffff99;
        width: 100%;
        height: 18%;
        border-radius: 40px;
        margin-top: 14px;

    }

    .write {
        font-size: 40px;
        color: aliceblue;
        padding-top: 0px;
        padding-left: 50px;
        font-family: number;


    }

    .team-name {
        font-size: 30px;
        color: aliceblue;
        padding-top: 17px;
        padding-left: 180px;
        font-family: Orbiton;

    }

    .points {
        position: absolute;
        font-size: 30px;
        color: aliceblue;
        padding-top: 17px;
        right: 9%;
        font-family: number;

    }

}




@media only screen and (min-width: 1200px) {

    .logo-class {
        margin-top: 90px;
        display: block;
        margin-left: 550px;
        margin-right: auto;
        width: 30%;
    }

    #ranks {
        font-size: 30px;
        color: white;
        padding-top: 2px;
        padding-left: 11%;
        font-family: spectrum;
        font-weight: bold;
    }

    #teams {
        font-size: 30px;
        color: white;
        padding-top: 2px;
        padding-left: 340px;
        font-family: spectrum;
    }

    #points {
        font-size: 30px;
        color: white;
        padding-top: 2px;
        position: absolute;
        right: 6%;
        font-family: spectrum;
    }

    #headings {
        position: relative;
        background-color: rgba(240, 255, 255, 0);
        ;
        width: 98.3%;
        height: 10%;
        border-radius: 500px;
        border-style: double;
        border-width: 10px;
        border-color: rgba(45, 185, 255, 0.349);
    }

    @font-face {
        font-family: spectrum;
        src: url(fonts/Spectral_SC/SpectralSC-Bold.ttf);
        font-weight: bold;
    }

    @font-face {
        font-family: number;
        src: url(fonts/ITC-Avant-Garde-Gothic/ITCAvantGardeStd-BkCn.otf);
        font-weight: bold;

    }

    @font-face {
        font-family: Orbiton;
        src: url(fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
    }
    .prodec-logo {
        width: 9em;
        height: 9em;
        right: 0%;
        position: absolute;
        top: 1%
    }

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    .all-scores {
        margin-top: 0px;
        height: 550px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;

    }

    .bubble {
        position: relative;
        background-color: rgba(4, 165, 93, 0);
        border-style: solid;
        border-color: #ffffff99;
        width: 100%;
        height: 18%;
        border-radius: 40px;
        margin-top: 14px;

    }

    .write {
        font-size: 60px;
        color: aliceblue;
        padding-top: 15px;
        padding-left: 100px;
        font-family: number;


    }

    .team-name {
        font-size: 50px;
        color: aliceblue;
        padding-top: 17px;
        padding-left: 230px;
        font-family: Orbiton;

    }

    .points {
        position: absolute;
        font-size: 50px;
        color: aliceblue;
        padding-top: 17px;
        right: 9%;
        font-family: number;

    }

}